body {
	background-image: url("https://qzprod.files.wordpress.com/2014/12/graduation1.jpg?");
	background-size:  120%;
    background-repeat: no-repeat;
	text-align: center;
}

.white {
	color: white;
	text-align: center;
}

ul {
	background-color:rgba(0, 0, 0, 0.7);
	text-align: center;
}

.centered {
	display: block;
	margin-right: 80px;
	margin-left: 80px;
	
}

p {
	background-color: rgba(0, 0, 0, 0.5);\
	text-align: center;
}