body {

	background-color: purple;	
	background-repeat: no-repeat;
	text-align: center;
}

.white {
	color: white;
	text-align: center;
}

ul {
	background-color:rgba(0, 0, 0, 0.7);
	text-align: center;
}

.centered {
	display: block;
	margin-right: 80px;
	margin-left: 80px;
	
}

p {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.links{
	text-align: center;
}

html {
	height: auto;
	min-height: 100%;
}

.dragon {
	text-align: left;
}

.black{
	color: white;
}