body {	
	background-image: url("https://qzprod.files.wordpress.com/2014/12/graduation1.jpg?");
	background-size:  100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}

.white {
	color: white;
	text-align: center;
}

ul {
	background-color:rgba(0, 0, 0, 0.7);
	text-align: center;
}

.centered {
	display: block;
	margin-right: 80px;
	margin-left: 80px;
	
}

p {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

ul.nav li { 
	display: inline-block; 
}

html {
	height: auto;
	min-height: 100%;
}

.dragon {
	text-align: left;
}

.black{
	color: white;
}
.shaniya-inline-list {
	list-style-type: none;
	text-align: center;
}
.shaniya-inline-list > li{
	display: inline-block;
	margin: 10px;
}